
.toast-error{
    color: #fff !important;
}
.toast-success{
    color: #fff !important;
    background-color: #009B7C !important;
    border-color: #009B7C !important;

}
a:hover{
    color: #009B7C;
    text-decoration-color: #009B7C;
  }
  
  a:active{
    color: #009B7C;
  }
.letter-link-modal{
    color: #009B7C !important;
}
 body{
   
   
    background-image: url("img/BG_PBooks.png") !important;
    background-repeat:repeat;
    background-color: #D6EEED;
    background-size: contain;
    background-attachment: inherit;
}  
input:focus, textarea {
    outline: none !important;
}
*:focus {
    outline: none;
}


/* body.modal-open .supreme-container{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.modal-backdrop.show {
    opacity: 0.8;
    background-color: transparent;
} */
/* ------------------------------- Config generales  ------------------------------- */
 
.card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 75ch;
}

.separacion{
    margin-top: 5vh;
}
 .navbar-light .navbar-toggler {
    color: transparent;
    border-color: transparent;
} 
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 155, 124, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* footer{
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    background-image: url("img/BG_PBooks.png") !important;
    font-size: .8em;
} */

footer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: .8em;
}

/* ------------------------------- NavBar  ------------------------------- */
.nav-back{
     background-image: url("img/BG_PBooks.png") !important;
    background-repeat:repeat;
    padding-bottom: 0px;
}
.brand-img{
    width: 75% !important;
}
.brand-img-a{
    padding-left: 1em;
    padding-right: 1em;
}
.button-search-dropdown{
    background: #fff;
    color: #5A5B5E;
    border: 1px solid #fff;
    font-size: .9em;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-right-radius: 0em !important;
    border-top-right-radius: 0em !important;  
}
.button-search{
    background: #fff;
    color: #009B7C;
    border: 1px solid #fff;
    font-size: .9em;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-right-radius: 1em !important;
    border-top-right-radius: 1em !important;
}

.button-search:hover, .button-search:focus, .button-search:active, .button-search.active, .open>.dropdown-toggle.button-search {
    color: #fff;
    background-color: #009B7C;
    border-color: #009B7C; /*set the color you want here*/
}
/* .brand-li-a:hover , .brand-li-a:focus, .brand-li-a:active, .brand-li-a.active{
    border-bottom: 2px solid #009B7C;
    text-align: center;
    overflow: hidden;   
}
.brand-li-a{
    text-align: center;
    display: block;
}
.brand-lu:hover , .brand-lu:focus, .brand-lu:active, .brand-lu.active{
    border-bottom: -2 solid #009B7C;
    text-align: center;
    margin-bottom: -2px;
}
 */
 .brand-lu{
     white-space: pre;
 }
 .brand-li-a{
    font-weight: bold;
    text-align: left;
}
.input-nav{
    border: #fff;
   
}
.form-control-lg-nav{
    height: calc(2.5em + 1rem + 2px) !important;
    padding: .5rem 1rem !important;
    line-height: 1.5 !important;
}

.input-border{
    border-right: .7px solid rgba(255,255,255,0.5) !important;
    border-bottom-left-radius: 1em !important;
    border-top-left-radius: 1em !important;
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}
.select-border{
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px  !important;
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}
.dropdown-item-nav{
    margin-left: 1em;
}
/* ------------------------------- NavBar-less  ------------------------------- */
.nav-less{
    position: absolute !important;
    
}

/* ------------------------------- login  ------------------------------- */
.card-login{
    padding-top: 11vh;
    padding-right: 6vh;
    padding-bottom: 6vh;
    padding-left: 6vh;
    background-color:rgba(255,255,255,0.5);
    border: rgba(255,255,255,0.5);
    
 }
.row-login{
    height: 100vh !important;
}
.button-login{
    width: -webkit-fill-available;
    background-color: #009B7C;
    color: #fff;
    border-radius: 2em!important;
    font-size: .9em;
}
.font-login{
    font-size: .9em;
    color: #5A5B5E
}
.input-group-text{
    background-color: #fff;
}
.letter-forget{
    font-size: .9em;
    color: #009B7C;
}
.hr-login{
    background-color: #009B7C;
}

/* ------------------------------- Registro  ------------------------------- */
.letter-policy{
    font-size: .6em;
    color: #009B7C;
}
.font-registro{
    font-size: .6em;
}
.text-muted{
    font-size: x-small;
}
#passHelp{
    display: none;
}
.focus-contra:focus + #passHelp{
    display: block;
}
#passHelp2{
    display: none;
}
.focus-contra2:focus + #passHelp2{
    display: block;
}

#passHelpRC{
    display: none;
}
.focus-contraRC:focus + #passHelpRC{
    display: block;
}

/* ------------------------------- catalogo  ------------------------------- */
.sombra-libro{
    -webkit-box-shadow: 0px -1px 10px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px -1px 10px 2px rgba(0,0,0,0.3);
    box-shadow: 0px -1px 10px 2px rgba(0,0,0,0.3);    
}

/* ------------------------------- contacto ------------------------------- */

.row-contacto{
    height: 83vh !important;
}
.card-contacto{
    background-color:rgba(255, 255, 255, 0);
    border: rgba(255,255,255,0);
}

.label-contacto{
    font-size: 1.5em;
    color: #009B7C;
}
.label-contacto-msg{
    font-size: .9em;
    color: #5A5B5E;
}

/* ------------------------------- generos ------------------------------- */
.card-footer{
    padding-top: 0.25rem  !important;
    padding-right: 1.25rem  !important;
    padding-bottom: 0.25rem  !important;
    padding-left: 1.25rem  !important;
    text-align: center;
}
.modal-terminos{
    margin-top: 1rem;
    margin-right: auto;
    margin-bottom: 1.75rem;
    margin-left: auto;
    width: 92%;
}
.label-modal-terminos{
    color: #5A5B5E;
    font-size: .9em;
    text-align:justify; 
}
.label-genero{
    
    color: #fff;
    font-size: 1.5em;
    margin-bottom: unset !important; 
    font-weight: 900;
}
.img-size{
    height: 9em;
}
.back-my{
    background-color: rgba(0,155,124, 0.2);
    border-top-right-radius: .35em !important;
    border-top-left-radius: .35em !important;
    display: block;
}
.back-my-footer{
    background-color: rgba(0, 155, 124, 1);
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: .35em !important;
    border-bottom-left-radius: .35em !important;
    -webkit-box-shadow: 0px -6px 5px 0px rgba(26,24,24,0.2);
    -moz-box-shadow: 0px -6px 5px 0px rgba(26,24,24,0.2);
    box-shadow: 0px -6px 5px 0px rgba(26,24,24,0.2);
}
.overlay-my {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:  rgba(204,235,229, 1);
    border-radius: .35em;
  }
 
  .style:hover .overlay-my {
    opacity: 1;
  }
  .bold-my{
      font-weight: 900 !important;
      color: rgba(0, 155, 124, 1);
  }
.back-romance{
    background-color: rgba(209, 0, 113, 0.2);
    border-top-right-radius: .35em !important;
    border-top-left-radius: .35em !important;
    display: block;
}
.back-romance-footer{
    background-color: rgba(209, 0, 113, 1);
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: .35em !important;
    border-bottom-left-radius: .35em !important;
    -webkit-box-shadow: 0px -6px 5px 0px rgba(26,24,24,0.2);
    -moz-box-shadow: 0px -6px 5px 0px rgba(26,24,24,0.2);
    box-shadow: 0px -6px 5px 0px rgba(26,24,24,0.2);
}
.overlay-romance {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:  rgba(248, 204, 226, 1);
    border-radius: .35em;
  }
 
  .style:hover .overlay-romance {
    opacity: 1;
  }
  .bold-romance{
    font-weight: 900 !important;
    color: rgba(209, 0, 113, 1);
}
.back-fantasia{
    background-color: rgba(86, 23, 112, 0.2);
    border-top-right-radius: .35em !important;
    border-top-left-radius: .35em !important;
    display: block;
}
.back-fantasia-footer{
    background-color: rgba(86, 23, 112, 1);
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: .35em !important;
    border-bottom-left-radius: .35em !important;
    -webkit-box-shadow: 0px -6px 5px 0px rgba(26,24,24,0.2);
    -moz-box-shadow: 0px -6px 5px 0px rgba(26,24,24,0.2);
    box-shadow: 0px -6px 5px 0px rgba(26,24,24,0.2);
}
.overlay-fantasia {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:  rgba(222, 211, 225, 1);
    border-radius: .35em;
  }
 
  .style:hover .overlay-fantasia {
    opacity: 1;
  }
  .bold-fantasia{
    font-weight: 900 !important;
    color: rgba(86, 23, 112, 1);
}
.back-valores{
    background-color: rgba(0, 182, 215, 0.2);
    border-top-right-radius: .35em !important;
    border-top-left-radius: .35em !important;
    display: block;
}
.back-valores-footer{
    background-color: rgba(0, 182, 215, 1);
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: .35em !important;
    border-bottom-left-radius: .35em !important;
    -webkit-box-shadow: 0px -6px 5px 0px rgba(26,24,24,0.2);
    -moz-box-shadow: 0px -6px 5px 0px rgba(26,24,24,0.2);
    box-shadow: 0px -6px 5px 0px rgba(26,24,24,0.2);
}
.overlay-valores {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:  rgb(204, 241, 246);
    border-radius: .35em;
  }
 
  .style:hover .overlay-valores {
    opacity: 1;
  }
  .bold-valores{
    font-weight: 900 !important;
    color: rgba(0, 182, 215, 1);
}
.back-historia{
    background-color: rgba(255, 166, 0, 0.2);
    border-top-right-radius: .35em !important;
    border-top-left-radius: .35em !important;
    display: block;
}
.back-historia-footer{
    background-color: rgba(255, 166, 0, 1);
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: .35em !important;
    border-bottom-left-radius: .35em !important;
    -webkit-box-shadow: 0px -6px 5px 0px rgba(26,24,24,0.2);
    -moz-box-shadow: 0px -6px 5px 0px rgba(26,24,24,0.2);
    box-shadow: 0px -6px 5px 0px rgba(26,24,24,0.2);
}
.overlay-historia {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:  rgba(255, 236, 214, 1);
    border-radius: .35em;
  }
 
  .style:hover .overlay-historia {
    opacity: 1;
  }
  .bold-historia{
    font-weight: 900 !important;
    color: rgba(255, 166, 0, 1);
}
.back-terror{
    background-color: rgba(21, 29, 34, 0.2);
    border-top-right-radius: .35em !important;
    border-top-left-radius: .35em !important;
    display: block;
}
.back-terror-footer{
    background-color: rgba(21, 29, 34, 1);
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: .35em !important;
    border-bottom-left-radius: .35em !important;
    -webkit-box-shadow: 0px -6px 5px 0px rgba(26,24,24,0.2);
    -moz-box-shadow: 0px -6px 5px 0px rgba(26,24,24,0.2);
    box-shadow: 0px -6px 5px 0px rgba(26,24,24,0.2);
}
.overlay-terror {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:  rgba(209, 210, 211, 1);
    border-radius: .35em;
  }
 
  .style:hover .overlay-terror {
    opacity: 1;
  }
  .bold-terror{
    font-weight: 900 !important;
    color:rgba(21, 29, 34, 1);
}

.style{
    position: relative;
    border: 0px;
    max-width: 100%;
    border-top-right-radius: .35em !important;
    border-top-left-radius: .35em !important;
}  
  
  .text {
    color: #808080;
    font-size: .9em;
    position: absolute;
    top: 50%;
    left: 25%;
    -webkit-transform: translate(-15%, -50%);
    -ms-transform: translate(-15%, -50%);
    transform: translate(-15%, -50%);
    text-align: center;
  }

/*------------------Carrusel -------------------------*/ 
.row-carrusel{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.font-chevron{
    font-size: 2em;
    color: #A3A3A3;
}
.contenido-carrusel{
    height:'100%';
    text-align:center;
}
.img-size-carrusel{
    height: 12em;
    -webkit-box-shadow: 0px -1px 10px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px -1px 10px 2px rgba(0,0,0,0.3);
    box-shadow: 0px -1px 10px 2px rgba(0,0,0,0.3); 
}
.card-carrusel{
    background-color: transparent;
    border: transparent;
}
.card-carrusel-footer{
    background: transparent;
    border: transparent;
     
}
.label-titulo-carrusel{
font-size: 0.9em;
margin-bottom: 0rem !important;
}
.label-autor-carrusel{
    font-size: 0.6em;
    margin-bottom: 0rem !important;
}
.label-carrucel-genero{
margin-top: 1.5rem !important;
color: #5A5B5E;
}
.nivel-carrusel{
    height: 2em;
}

/*--------------------Favoritos------------------------*/
.titulo-favoritos{
    padding-left: 20px !important;
}

/*---------------------ModalDetalles--------------------------------*/
.img-modal{
    height: auto;
    max-width: 15em;
    width: 15em;
    -webkit-box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.5);
}
.centro-modal{
    margin-top: 4rem;
    margin-right: auto;
    margin-bottom: 1.75rem;
    margin-left: auto;
    width: 92%;
}
.columna-img-detalles{
    margin-top: 1em !important;
    margin-bottom: 2em !important;
    
}
.columna-img-detalles2{
    margin-top: 1em !important;
    margin-bottom: 2em !important;
    
}

.i-con{
    font-size: 2em;
    color: #009B7C;
}
.modal-backdrop {background-color:#fff;}
.btn-modal{
    padding-top: 0.375rem;
    padding-right: 1em;
    padding-bottom: 0.375rem;
    padding-left: 0rem;
}
.modal-content {
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.5);
    border: unset;
    border-radius: .35rem !important;
}

.label-titulo-modal{
    font-size: 1.5em;
    font-weight: 900;
    color: #221D0f
}

.label-subtitulo-modal{
    font-size: .9em;
    font-weight: 900;
    color: #221D0f
}

.btn-modal{
    font-size: 1em;
    font-weight: 900;
    color: #5A5B5E;
}
.label-general-modal{
    font-size: .9em;
    text-align: justify;
    color: #5A5B5E;
   
}
.div-btn{
    justify-content: space-evenly !important;
}
.modal-header {
    justify-content: center;
    background-color: #009B7C;
    color: #fff;
}
.button-modal-detalles{
    border-radius: 2rem!important;
    background-color: #009B7C;
    color: #fff;
    font-size: .9em;
    width: 10em;
}
.margin-vertical{
    margin-top: .25em;
    margin-bottom: .25em;
}
.margin-vertical-button{
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}
.centro-modal-terminos{
    margin-top: 10rem;
    margin-right: auto;
    margin-bottom: 0rem;
    margin-left: auto;
    width: 92%;
}

#ModalTerminos {
	z-index: 1080 !important;
}

.modal-terminos-titulo{
    font-weight: 900;
    font-size: 1em;
}
.modal-terminos-texto{
    color: #5A5B5E;
    font-size: .9em;
}
.modal-texto-advertencia{
    color: #009B7C;
    font-weight: 900;
}
/*--------------------------------ModalBienvenida----------------------*/
.label-modalbienvenida-titulo{
    color: #009B7C;
    font-weight: 900;
    font-size: 1.5em;
}
.label-general-modalBienvenida{
    color: #5A5B5E;
    font-size: .9em;
}
.label-general-modalBienvenida-bold{
    color: #5A5B5E;
    font-size: .9em;
    font-weight: 900;
}
.label-general-modalBienvenida-crusive{
    color: #5A5B5E;
    font-size: .9em;
    font-style: italic;
}
.label-general-modalBienvenida-crusive2{
    color: #009B7C;
    font-size: .9em;
    font-style: italic;
    font-weight: 900;
}
.logo-ModalBienvenida{
    text-align: right;
}
.img-modalBienvenida{
    width: 4em;
}
.label-modalbienvenida-nivelOro{
    color: #FAA536;
    font-size: .9em;
    font-weight: 900;
}
.label-modalbienvenida-nivelPlata{
    color: #A3A3A3;
    font-size: .9em;
    font-weight: 900;
}

/*--------------------------------ModalContacto----------------------*/
.altura-top-modalcontacto{
    margin-top: 3em;
}
.altura-bot-modalcontacto{
    margin-bottom: 3em;
}

/* ------------------------------- BreakPoints  ------------------------------- */


@media (min-width: 576px) { 
    .padding-login{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
   
    
 }


@media (max-width: 575.98px) { 
    .brand-li-a{
        font-weight: bold;
        text-align: right;
    }
/* -------------------------- Forms ------------------------------*/
    .img-login{
        visibility: hidden;
    }
    .row-login {
        height: unset !important;
    }
    .img-logo-user{
        position: relative;
        top: 30px;
        max-width: 20%;
        } 
    .img-lateral{
        display: none;
            
    }
   
/* -------------------------- Nav ------------------------------*/
    .nav-less{
        position: relative !important;
            
    }
    .input-border {
        border-right: #fff;
        border-bottom-left-radius: .35em !important;
        border-top-left-radius: .35em !important;
        border-bottom-right-radius: .35em !important;
        border-top-right-radius: .35em !important;
    }
    .select-border {
        border-bottom-left-radius: .35em !important;
        border-top-left-radius: .35em !important;
        border-bottom-right-radius: .35em !important;
        border-top-right-radius: .35em !important;
    }

    .brand-img {
    width: 50% !important;
    }
    .form-control-lg-nav{
        height: unset !important;
        padding: .5rem 1rem !important;
        line-height: 1.5 !important;
        margin: 1px 0px;
    }
    .button-search {
        background: #009B7C;
        color: #fff;
        border: 1px solid transparent;
        font-size: .9em;
        border-bottom-left-radius: 1em !important;
        border-top-left-radius: 1em !important;
        border-bottom-right-radius: 1em !important;
        border-top-right-radius: 1em !important;
    }
    .brand-img-a {
        padding-left: unset; 
        padding-right: 1em;
    }
/* ------------------------------- generos ------------------------------- */
.label-genero{
    
    color: #fff;
    font-size: .75em !important;
    margin-bottom: unset !important; 
    font-weight: 900;
}

.img-size{
    height: 4.5em !important;
}

/*------------------------------Carrusel-----------------------*/
.img-size-carrusel {
    height: auto;
    width: 5em;
    -webkit-box-shadow: 0px -1px 10px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px -1px 10px 2px rgba(0,0,0,0.3);
    box-shadow: 0px -1px 10px 2px rgba(0,0,0,0.3);
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: unset;
}

.card-carrusel-footer {
    background: transparent;
    border: transparent;
    display: none;
}

/*--------------------Favoritos-----------------------------*/
.titulo-favoritos {
    padding-left: unset !important;
}

/*--------------------ModalCarrusel-----------------------------*/
.img-modal {
    
    max-width: 100%;
    width: 100%;
    -webkit-box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.5);
}

.label-titulo-modal {
    font-size: .9em;
    font-weight: 900;
    color: #221D0f;
}
.label-general-modal {
    font-size: .6em;
    text-align: justify;
    color: #5A5B5E;
}
.label-subtitulo-modal {
    font-size: .6em;
    font-weight: 900;
    color: #221D0f;
}
.i-con {
    font-size: 1.5em;
    color: #009B7C;
}
.columna-img-detalles2 {
    margin-top: 0em !important;
    
}
.columna-img-detalles {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}
.btn-modal {
    font-size: .65em;
    font-weight: 900;
    color: #5A5B5E;
}
.sinopsis-display-web{
    display: none;
}

/*-------------------------------ModalTerminos----------------------*/
.centro-modal-terminos{
    margin-top: 5rem;
    margin-right: auto;
    margin-bottom: 0rem;
    margin-left: auto;
    width: 92%;
}
.modal-terminos-texto {
    color: #5A5B5E;
    font-size: .7em;
}
.modal-terminos-titulo {
    font-weight: 900;
    font-size: .8em;
}
.button-modal-detalles {
    border-radius: 2rem!important;
    background-color: #009B7C;
    color: #fff;
    font-size: .7em;
    width: 10em;
}



 }
 


@media (min-width: 576px) and (max-width: 767.98px) { 
    .brand-li-a{
        font-weight: bold;
        text-align: right;
    }
/* -------------------------- Forms ------------------------------*/
    .img-logo-user{position: relative;
        top: 30px;
        max-width: 20%;
    }
    
    .img-login{
        visibility: hidden;
    } 
    .img-lateral{
        display: none;
       
    }
    /* -------------------------- Nav ------------------------------*/
    .nav-less{
        position: relative !important;
        
    }
    .brand-img {
        width: 60% !important;
    }
    .form-control-lg-nav{
        height: unset !important;
        padding: .5rem 1rem !important;
        line-height: 1.5 !important;
        margin: 1px 0px;
    }
    .input-border {
        border-right: #fff;
        border-bottom-left-radius: .35em !important;
        border-top-left-radius: .35em !important;
        border-bottom-right-radius: .35em !important;
        border-top-right-radius: .35em !important;
    }
    .select-border {
        border-bottom-left-radius: .35em !important;
        border-top-left-radius: .35em !important;
        border-bottom-right-radius: .35em !important;
        border-top-right-radius: .35em !important;
    }
    .button-search {
        background: #009B7C;
        color: #fff;
        border: 1px solid transparent;
        font-size: .9em;
        border-bottom-left-radius: 1em !important;
        border-top-left-radius: 1em !important;
        border-bottom-right-radius: 1em !important;
        border-top-right-radius: 1em !important;
    }
/* ------------------------------- generos ------------------------------- */
.label-genero{
    
    color: #fff;
    font-size: .75em;
    margin-bottom: unset !important; 
    font-weight: 900;
}
.img-size{
    height: 4.5em !important;
}

/*-----------------------------ModalCarrusel----------------------*/
.img-modal {
    
    max-width: 100%;
    width: 100%;
    -webkit-box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.5);
}

.label-titulo-modal {
    font-size: .9em;
    font-weight: 900;
    color: #221D0f;
}
.label-general-modal {
    font-size: .6em;
    text-align: justify;
    color: #5A5B5E;
}
.label-subtitulo-modal {
    font-size: .6em;
    font-weight: 900;
    color: #221D0f;
}
.i-con {
    font-size: 1.5em;
    color: #009B7C;
}
.columna-img-detalles2 {
    margin-top: 0em !important;
    
}
.columna-img-detalles {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}
.btn-modal {
    font-size: .65em;
    font-weight: 900;
    color: #5A5B5E;
}
.sinopsis-display-movil{
    display: none;
}
/*-------------------------------ModalTerminos----------------------*/
.centro-modal-terminos{
    margin-top: 5rem;
    margin-right: auto;
    margin-bottom: 0rem;
    margin-left: auto;
    width: 92%;
}
.modal-terminos-texto {
    color: #5A5B5E;
    font-size: .7em;
}
.modal-terminos-titulo {
    font-weight: 900;
    font-size: .8em;
}
.button-modal-detalles {
    border-radius: 2rem!important;
    background-color: #009B7C;
    color: #fff;
    font-size: .7em;
    width: 10em;
}

}


@media (min-width: 768px) and (max-width: 991.98px) { 
    /* -------------------------- Nav ------------------------------*/
    .font-login{
        font-size: .7em;
        color: #5A5B5E
    }
    .button-search {
        background: #fff;
        color: #009B7C;
        border: 1px solid #fff;
        font-size: .7em;
        border-bottom-left-radius: 0px !important;
        border-top-left-radius: 0px !important;
        border-bottom-right-radius: 1em !important;
        border-top-right-radius: 1em !important;
    }
    .brand-img{
        width: 60% !important;
    }
    .brand-img-a {
        
        padding-right: 0em;
    }
    .navbar-brand {
        margin-right: 0rem !important; 
        
    }
    .label-contacto-msg {
        font-size: .7em;
    }
/* -------------------------- Forms ------------------------------*/
    .img-logo-user{position: relative;
        top: 30px;
        max-width: 20%;
        } 
       /*-----------------------------ModalCarrusel----------------------*/
.img-modal {
    
    max-width: 100%;
    width: 100%;
    -webkit-box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.5);
}

.label-titulo-modal {
    font-size: .9em;
    font-weight: 900;
    color: #221D0f;
}
.label-general-modal {
    font-size: .6em;
    text-align: justify;
    color: #5A5B5E;
}
.label-subtitulo-modal {
    font-size: .6em;
    font-weight: 900;
    color: #221D0f;
}
.i-con {
    font-size: 1.5em;
    color: #009B7C;
}
.columna-img-detalles2 {
    margin-top: 0em !important;
    
}
.columna-img-detalles {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}
.btn-modal {
    font-size: .65em;
    font-weight: 900;
    color: #5A5B5E;
}
.sinopsis-display-movil{
    display: none;
}
/*-------------------------------ModalTerminos----------------------*/
.centro-modal-terminos{
    margin-top: 5rem;
    margin-right: auto;
    margin-bottom: 0rem;
    margin-left: auto;
    width: 92%;
}
.modal-terminos-texto {
    color: #5A5B5E;
    font-size: .7em;
}
.modal-terminos-titulo {
    font-weight: 900;
    font-size: .8em;
}
.button-modal-detalles {
    border-radius: 2rem!important;
    background-color: #009B7C;
    color: #fff;
    font-size: .7em;
    width: 10em;
}
 /*---------------------------------Generos-----------------*/
 .label-genero {
    font-size: 1em;
}
.img-size {
    height: 7em;
}

/*------------------------Carrusel--------------------*/
.img-size-carrusel {
    height: 10em;
    -webkit-box-shadow: 0px -1px 10px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px -1px 10px 2px rgba(0,0,0,0.3);
    box-shadow: 0px -1px 10px 2px rgba(0,0,0,0.3);
}


        
 }



@media (min-width: 992px) and (max-width: 1199.98px) {  
/* -------------------------- Forms ------------------------------*/
    .img-logo-user{position: relative;
        top: 45px;
        max-width: 20%;
        }
        
    /*-----------------------------ModalCarrusel----------------------*/
.img-modal {
    
    max-width: 100%;
    width: 100%;
    -webkit-box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.5);
}
    .sinopsis-display-movil{
        display: none;
}


}


@media (min-width: 1200px) {

    /* -------------------------- Forms ------------------------------*/
    .img-logo-user {
        position: relative;
        top: 45px;
        max-width: 20%;
    }
/*-----------------ModalCarrusel------------------------*/
    .sinopsis-display-movil{
        display: none;
    }

}

