:root {
    /* SOLID COLORS */
    --main: #93703C;
    --main-light: #AA9070;
    --light: #FAFAFA;
    --dark: #373A3C;
    --grey: #A5A6A7;
    --green-dark: #179A7C;
    --green-light: #8BCDBD;
}

.span-titulo{
        
    content: '';
    width: 4em;
    position: relative;
    display: inline-block;
    height: 2px;
    background-color: #a7753a;
    margin-right: 10px;
    vertical-align: middle;
    top: -1px;
    }

/* .intro-padding{
    padding-bottom: 4em;
    margin-bottom: auto;
    margin-top: auto;
   
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='3' stroke-linecap='square' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.card-img{
    height: 225px; width: 100%; display: block;
}
.con-fit{
    padding-left: 3em !important;
    padding-right: 3em !important;
}
.cover-portada{
    background-size: cover;
    background-image: url("img/portada.jpg") !important;
    background-position-x: center;
    background-position-y: center;
}
.cover-footer{
    background-repeat: repeat-y;
    background-repeat: repeat-x;
    background-image: url("img/footer.jpg") !important;
   
}
footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.nav-color{
    background-image: linear-gradient(to bottom, rgba(38,38,38,1), rgba(0,0,0,.2));
    padding-top: 0px;
    padding-bottom: 0px;
}
.nav-color2{
    background-color: rgba(47,47,47,0.6);
    padding-top: 0px;
    padding-bottom: 0px;
}


.nav-link{
    color: white !important;
}
.nav-link2 {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    color: white !important;
}
.nav-item-web{
    padding-top: .5em;
    padding-bottom: 1em;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,0);
}
.dropdown-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}
.wrap-portada{
    background-color: rgba(0,0,0,.2);
    height: 100%;
    width: 100%;
}
.font-weight-normal{
    color: white;
}

.h1-portada{
        border-bottom: 1px solid white;
        border-top: 1px solid white;
}

.nav-style .nav-item.active .nav-link {
    color: var(--main-light) !important;
    font-weight: bold;
}

.nav-style .nav-item a.nav-link:hover{
    color: var(--main-light) !important;
}




@media (max-width: 575.98px) {
    .navbar-brand{
        margin-left: auto;
        margin-right: auto;
        transform: translate(-50%);
    }
    .padding-portada {
        padding-bottom: 4rem!important;
        padding-top: 4rem!important;
        padding-left: 3rem!important;
        padding-right: 3rem!important;
    }
    .nav-img {
        display: block;
        width: 3em;
    }
    .display-nav-web{
        display: none;
    }
    .display-nav-movil{
        display: block;
    }
    .con-fit{
        padding-left: 1em !important;
        padding-right: 1em !important;
    }
}


@media (min-width: 576px) and (max-width: 767.98px) { 
    .navbar-brand{
        margin-left: auto;
        margin-right: auto;
        transform: translate(-50%);
    }
    .padding-portada {
        padding-bottom: 4rem!important;
        padding-top: 4rem!important;
        padding-left: 3rem!important;
        padding-right: 3rem!important;
    }
    .nav-img {
        display: block;
        width: 3em;
    }
    .display-nav-web{
        display: none;
    }
    .display-nav-movil{
        display: block;
    }
 }


@media (min-width: 768px) and (max-width: 991.98px) { 
    .navbar-brand{
        margin-left: auto;
        margin-right: auto;
        transform: translate(-50%);
    } 
    .padding-portada {
        padding-bottom: 4rem!important;
        padding-top: 4rem!important;
        padding-left: 3rem!important;
        padding-right: 3rem!important;
    }
    .nav-img {
        display: block;
        width: 3em;
    }
    .display-nav-web{
        display: none;
    }
    .display-nav-movil{
        display: block;
    }
}


@media (min-width: 992px) and (max-width: 1199.98px) { 
    .padding-portada{
        padding-bottom: 7rem!important;
        padding-top: 7rem!important;
        padding-left: 3rem!important;
        padding-right: 3rem!important;
    
    }
    .nav-img {
        display: none;
        width: 3em;
    }
    .nav-img2 {
        display: block;
        width: 4em;
    }
    .display-nav-web{
        display: block;
    }
    .display-nav-movil{
        display: none;
    }
}


@media (min-width: 1200px) { 
    .padding-portada{
        padding-bottom: 7rem!important;
        padding-top: 7rem!important;
        padding-left: 3rem!important;
        padding-right: 3rem!important;
    
    }
    .nav-img {
        display: none;
        width: 3em;
    }
    .nav-img2 {
        display: block;
        width: 4em;
    }
    .display-nav-web{
        display: block;
    }
    .display-nav-movil{
        display: none;
    }
 }
 */

 /* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.justify-align{
    text-align: justify;
}


@media  (max-width: 599.97px) { 

.valign-wrapper {
    display: unset;
    display: unset;
    display: unset;
    display: unset;
    -webkit-box-align: unset;
    -webkit-align-items: unset;
    -ms-flex-align: unset;
    align-items: unset;
}
}


@media (min-width: 600px) and (max-width: 991.97px) { 


}


@media  (min-width: 992px) and (max-width: 1199.97px) { 


}


@media  (min-width: 1200px) { 


}
